
version: "3.9"

services:
  server:
    build: ./server
    container_name: ontheway_server
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
    restart: always

  client:
    build: ./client
    container_name: ontheway_client
    ports:
      - "3000:80"
    depends_on:
      - server
    restart: always
